
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/api/var/
/api/vendor/
###< symfony/framework-bundle ###

api/.env

api/config/jwt/
